# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# user
docs/MACs.md
node-receiver/.pio/
node-receiver/.vscode/
node-sender/.pio/
node-sender/.vscode/
tools/get_MAC_add/.pio
tools/get_MAC_add/.vscode
node-sender/src/credentials.h
node-receiver/src/credentials.h
node-sender/.gitignore
